{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ user.login }}'s Profile</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'user.css' %}">
</head>
<body>
    <div class="center">
        <h2>{{ user.login }}'s Profile</h2>
        <img src="{{ user.avatar_url }}" alt="{{ user.login }}'s avatar" width="100">
        <p><strong>Name:</strong> {{ user.name }}</p>
        <p><strong>Bio:</strong> {{ user.bio }}</p>
        <p><strong>Followers:</strong> {{ user.followers }}</p>
        <p><strong>Following:</strong> {{ user.following }}</p>
        <p><strong>Public Repos:</strong> {{ user.public_repos }}</p>
        <p><strong>Profile URL:</strong> <a href="{{ user.html_url }}">{{ user.html_url }}</a></p>
    </div>
</body>
</html>